.imgrenragle {
    position: absolute;
    max-width: 403px;
    height: 218px;
    left: 32px;
    top: 5289px;
    background: url(image.png);
    border-radius: 3px 3px 0px 0px;
}

.adres__hero {
    position: absolute;
    max-width: 516px;
    height: 59px;
    left: 550px;
    top: 5167px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #01384D;
}

.s1264 {
    position: absolute;
    max-width: 403px;
    height: 218px;
    left: 529px;
    top: 5289px;
    background: url(image.png);
    border-radius: 3px 3px 0px 0px;
}

.s1265 {
    position: absolute;
    max-width: 403px;
    height: 218px;
    left: 995px;
    top: 5289px;
    background: url(image.png);
    border-radius: 3px 3px 0px 0px;
}

.inner {
    display: flex;
    justify-content: space-between;
}

.pochta {
    position: absolute;
    max-width: 175px;
    height: 28px;
    left: 150px;
    top: 5567px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #01384D;
}

.manzil {
    position: absolute;
    max-width: 277px;
    height: 50px;
    left: 105px;
    top: 5621px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #01384D;
    opacity: 0.7;
}

.mati {
    position: absolute;
    max-width: 219px;
    height: 28px;
    left: 651px;
    top: 5567px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #01384D;
}

.taklif {
    position: absolute;
    max-width: 352px;
    height: 75px;
    left: 585px;
    top: 5621px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #01384D;
    opacity: 0.7;
}
.garant{
    position: absolute;
max-width: 84px;
height: 28px;
left: 1155px;
top: 5567px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #01384D;

}
.suggest{
    position: absolute;
max-width: 328px;
height: 75px;
left: 1033px;
top: 5621px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #01384D;
opacity: 0.7;
}
.nomer{
    position: absolute;
max-width: 153px;
height: 25px;
left: 684px;
top: 5726px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
text-align: center;
text-decoration-line: underline;
color: #01384D;

}
.box10{

background: #FFFFFF;
border: 2px solid #01384D;
border-radius: 5px;
}

.happy{
    position: absolute;
width: 300px;
height: 42px;
left: 120px;
top: 120px;    
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
color: #01384D;
}
.raqam{
    position: absolute;
width: 421px;
height: 23px;
left: 120px;
top: 170px;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #01384D;
}
.yubor{

    position: absolute;
    width: 240px;
    height: 60px;
    left: 1161px;
   top: 130px;
    background: #01384D;
    border-radius: 5px;
}
.yubor__text{
  color: #FFFFFF;
}
.r556{
    position: absolute;
width: 420px;
height: 60px;
left: 726px;
top: 30px;
margin-top: 100px;

background: #FFFFFF;
border-radius: 5px;
}

.contant{
    position: absolute;
width: 1520px;
height: 300px;
left: 0px;
top: 5900px;
background: #EABF9F;
}
.imgfooter{
    margin-top: 350px;
   padding: 10px;
    width: 1500px;
  
}