*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.all{
max-width: 1516px;
    height: 6500px;
   box-shadow: 10px #fff;
   overflow: hidden;
flex-wrap: wrap;

}   

@media (max-width:414px){
    .all{
        width: 414px;
    }
}



