.container {
max-width: 1920px;
    height: 640px;
    background: #EABF9F;

}

.info__button {
    box-sizing: border-box;
    position: absolute;
    max-width: 175px;
    height: 46px;
    left: 1220px;
    top: 49px;
    background: #FFFFFF;
    border: 2px solid #01384D;
    border-radius: 5px;
}

.info__tel {
    position: absolute;
    text-decoration: none;
    max-width: 148px;
    height: 21px;
    left: 1034px;
    top: 61px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #01384D;

}

.info__logo {
    position: absolute;
    max-width: 160px;
    height: 37.25px;
    left: 320px;
    top: 54px;
}

.info__text {
    position: absolute;
    max-width: 735px;
    height: 210px;
    left: 320px;
    top: 163px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 105px;
    color: #01384D;
}

.info__bad {
    position: absolute;
    max-width: 605px;
    height: 380px;
    left: 895px;
    top: 260px;
}

.info__buttom {
    border: 2px solid #01384D;
    border-radius: 5px;
    background: #FFFFFF;
    position: absolute;
    max-width: 180px;
    height: 46px;
    left: 322px;
    top: 423px;
}

.info__rentangle {
    position: absolute;
    max-width: 250px;
    height: 3px;
    left: 320px;
    top: 569px;
}


.malumot__hero1 {
    position: absolute;
    max-width: 68px;
    height: 141px;
    left: 209px;
    top: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    text-align: center;
    color: #01384D;
}

.malumot__hero2 {

    position: absolute;
    max-width: 251px;
    height: 141px;
    left: 545px;
    top: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    text-align: center;
    color: #01384D;
}

.malumot__hero3 {
    position: absolute;
    max-width: 134px;
    height: 141px;
    left: 976px;
    top: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    text-align: center;
    color: #01384D;
}

.malumot__hero4 {
    position: absolute;
    max-width: 67px;
    height: 141px;
    left: 1372px;
    top: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    text-align: center;
    color: #01384D;
}

.malumot__text1 {
    position: absolute;
    max-width: 103px;
    height: 23px;
    left: 182px;
    top: 871px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #01384D;
}

.malumot__text2 {
    position: absolute;
    max-width: 161px;
    height: 23px;
    left: 590px;
    top: 871px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #01384D;
}

.malumot__text3 {
    position: absolute;
    max-width: 109px;
    height: 23px;
    left: 1000px;
    top: 871px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #01384D;
}

.malumot__text4 {
    position: absolute;
    max-width: 148px;
    height: 23px;
    left: 1330px;
    top: 871px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #01384D;
}