.container {
width: 1920px;
    height: 640px;
    background: #EABF9F;

}

.info__button {
    box-sizing: border-box;
    position: absolute;
    max-width: 175px;
    height: 46px;
    left: 1220px;
    top: 49px;
    background: #FFFFFF;
    border: 2px solid #01384D;
    border-radius: 5px;
}

.info__tel {
    position: absolute;
    text-decoration: none;
    max-width: 148px;
    height: 21px;
    left: 1034px;
    top: 61px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #01384D;

}
@media (max-width: 1186px){
    .info__tel{
        font-size: 14px;
    }
}
@media (max-width: 1161px){
    .info__tel{
        font-size: 10px;
    }
}
@media (max-width: 414px){
    .info__tel{
     position: absolute;
     right: 50px;
     font-size: 20px;
    }
}


.info__logo {
    position: absolute;
    max-width: 160px;
    height: 37.25px;
    left: 320px;
    top: 54px;
    object-fit: contain;
}

.info__text {
    position: absolute;
 width: 735px;
    height: 210px;
    left: 320px;
    top: 163px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 90px;
    line-height: 105px;
    color: #01384D;
}
@media (max-width: 947px){
    .info__text{
        position: absolute;
width: 320px;
height: 110px;
left: 20px;
top: 137px;
font-family: 'Abril Fatface';
font-style: normal;
font-weight: 400;
font-size: 41px;
line-height: 55px;
color: #01384D;
    }
}

.info__bad {
    position: absolute;
    max-width: 605px;
    height: 380px;
    left: 895px;
    top: 260px;
}
@media (max-width: 414px){
    .info__bad{
        
        position: absolute;
        width: 359px;
        height: 194px;
        left: 1px;
        top: 286px;
        
        background: url(5a351f64604902.png);
    }
}

.info__buttom {
    border: 2px solid #01384D;
    border-radius: 5px;
    background: #FFFFFF;
    position: absolute;
    max-width: 180px;
    height: 46px;
    left: 322px;
    top: 423px;
}
@media (max-width: 414px){
    .info__buttom{
        box-sizing: border-box;
position: absolute;
left: 0%;
right: 0%;
top: 520px;
bottom: 0%;
background: #FFFFFF;
border: 2px solid #01384D;
border-radius: 5px;
    }
}

.info__rentangle {
    position: absolute;
    max-width: 250px;
    height: 3px;
    left: 320px;
    top: 569px;
}
@media (max-width:414px){
    .info__rentangle{
        position: absolute;
width: 250px;
height: 3px;
left: 20px;
top: 615px;

background: #FFFFFF;
border-radius: 10px;
    }
}


.malumot__hero1 {
    position: absolute;
    max-width: 68px;
    height: 141px;
    left: 209px;
    top: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    text-align: center;
    color: #01384D;
}
@media (max-width: 414px){
    .malumot__hero1{
        position: absolute;
left: 19.17%;
right: 73.61%;
top: 750px;
bottom: 93%;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 50px;
text-align: center;
color: #01384D;
    }
}

.malumot__hero2 {

    position: absolute;
    max-width: 251px;
    height: 141px;
    left: 545px;
    top: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    text-align: center;
    color: #01384D;
}
@media (max-width:414px){
    .malumot__hero2{
        position: absolute;
left: 56.94%;
right: 14.17%;
top: 750px;
bottom: 93%;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 50px;
text-align: center;
color: #01384D;
    }
}

.malumot__hero3 {
    position: absolute;
    max-width: 134px;
    height: 141px;
    left: 976px;
    top: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    text-align: center;
    color: #01384D;
}
@media (max-width: 414px){
    .malumot__hero3{
        position: absolute;
width: 49px;
height: 50px;
left: 61px;
top: 910px;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 50px;

text-align: center;
color: #01384D;
    }
}

.malumot__hero4 {
    position: absolute;
    max-width: 67px;
    height: 141px;
    left: 1372px;
    top: 720px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 141px;
    text-align: center;
    color: #01384D;
}
@media (max-width:414px){
    .malumot__hero4{
        
position: absolute;
width: 27px;
height: 50px;
left: 246px;
top: 910px;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 50px;
text-align: center;
color: #01384D;
    }
}

.malumot__text1 {
    position: absolute;
    max-width: 103px;
    height: 23px;
    left: 182px;
    top: 871px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #01384D;
}
@media (max-width: 414px){
    .malumot__text1{
        position: absolute;
left: 12.5%;
right: 66.67%;
top: 830px;
bottom: 92.73%;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 14px;
text-align: center;
color: #01384D;
    }
}

.malumot__text2 {
    position: absolute;
    max-width: 161px;
    height: 23px;
    left: 590px;
    top: 871px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #01384D;
}
@media (max-width:414px){
    .malumot__text2{
        position: absolute;
left: 56.39%;
right: 13.33%;
top: 830px;
bottom: 92.73%;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 14px;
text-align: center;
color: #01384D;
    }
}

.malumot__text3 {
    position: absolute;
    max-width: 109px;
    height: 23px;
    left: 1000px;
    top: 871px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #01384D;
}
@media (max-width:414px){
    .malumot__text3{
        position: absolute;
width: 78px;
height: 14px;
left: 56px;
top: 970px;
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 14px;
text-align: center;
color: #01384D;

    }
}

.malumot__text4 {
    position: absolute;
    max-width: 148px;
    height: 23px;
    left: 1330px;
    top: 871px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #01384D;
}
@media (max-width:414px){
    .malumot__text4{
        position: absolute;
        width: 102px;
        height: 14px;
        left: 209px;
        top: 970px;
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 14px;
        text-align: center;
        color: #01384D;
    }
}