.mahsulot__text {
    position: absolute;
    width: 479px;
    height: 59px;
    left: 560px;
    top: 995px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #01384D;
}

.mahsulot__title1 {
    position: absolute;
    width: 66px;
    height: 19px;
    left: 120px;
    top: 1131px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__title2 {
    position: absolute;
    width: 68px;
    height: 19px;
    left: 256px;
    top: 1131px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__title3 {
    position: absolute;
    width: 69px;
    height: 19px;
    left: 394px;
    top: 1131px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__title4 {
    position: absolute;
    width: 62px;
    height: 19px;
    left: 533px;
    top: 1131px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__title5 {
    position: absolute;
    width: 69px;
    height: 19px;
    left: 665px;
    top: 1131px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__title6 {
    position: absolute;
    width: 63px;
    height: 19px;
    left: 804px;
    top: 1131px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__title7 {
    position: absolute;
    width: 92px;
    height: 19px;
    left: 937px;
    top: 1131px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__title8 {
    position: absolute;
    width: 101px;
    height: 19px;
    left: 1099px;
    top: 1131px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__title9 {
    position: absolute;
    width: 62px;
    height: 19px;
    left: 1270px;
    top: 1131px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.mahsulot__hero {
    justify-content: space-between;
    list-style-type: none;
}

.mahsulot__hr {
    position: absolute;
    width: 1520px;
    height: 0px;
    left: 0px;
    top: 1167px;
    opacity: 0.3;
    border: 1px solid #01384D;
}

.box1 {
    position: absolute;
    min-width: 1380px;
    height: 456px;
    left: 120px;
    top: 1221px;
    background: #F6FBFF;
    border: 1px solid #C7DFF5;
}

.box2 {

    position: absolute;
    min-width: 1380px;
    height: 456px;
    left: 120px;
    top: 1721px;
    background: #F6FBFF;
    border: 1px solid #C7DFF5;
}

.box3 {
    position: absolute;
    min-width: 1380px;
    height: 456px;
    left: 120px;
    top: 2221px;
    background: #F6FBFF;
    border: 1px solid #C7DFF5;
}

.box4 {
    position: absolute;
    min-width: 1380px;
    height: 456px;
    left: 120px;
    top: 2721px;
    background: #F6FBFF;
    border: 1px solid #C7DFF5;
}

.box5 {
    position: absolute;
    min-width: 1380px;
    height: 456px;
    left: 120px;
    top: 3271px;
    background: #F6FBFF;
    border: 1px solid #C7DFF5;
}

.box6 {
    position: absolute;
    min-width: 1380px;
    height: 456px;
    left: 120px;
    top: 3771px;
    background: #F6FBFF;
    border: 1px solid #C7DFF5;
}

.mahsulot__word {
    position: absolute;
    left: 47.19%;
    right: 20.39%;
    top: 6.58%;
    bottom: 83.11%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #01384D;
}


.p1 {
    position: absolute;
    left: 47.19%;
    right: 47.81%;
    top: 24.12%;
    bottom: 71.71%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
    opacity: 0.6;
}

.p2 {
    position: absolute;
    left: 58.83%;
    right: 37.11%;
    top: 24.12%;
    bottom: 71.71%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
    opacity: 0.6;
}

.p3 {
    position: absolute;
    left: 69.14%;
    right: 25.94%;
    top: 24.12%;
    bottom: 71.71%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
    opacity: 0.6;
}

.p4 {
    position: absolute;
    left: 88.83%;
    right: 7.5%;
    top: 24.12%;
    bottom: 71.71%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
    opacity: 0.6;
}

.x1 {
    position: absolute;
    left: 47.19%;
    right: 48.91%;
    top: 29.82%;
    bottom: 62.5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #01384D;
}

.z1 {
    position: absolute;
    left: 51.48%;
    right: 47.03%;
    top: 33.33%;
    bottom: 62.5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.x2 {
    position: absolute;
    left: 58.83%;
    right: 39.84%;
    top: 29.82%;
    bottom: 62.5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #01384D;
}

.z2 {
    position: absolute;
    left: 60.55%;
    right: 38.05%;
    top: 33.33%;
    bottom: 62.5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.x3 {
    position: absolute;
    left: 69.14%;
    right: 17.42%;
    top: 29.82%;
    bottom: 62.5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #01384D;
}

.x4 {
    position: absolute;
    left: 88.83%;
    right: 9.84%;
    top: 29.82%;
    bottom: 62.5%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #01384D;
}

.z3 {
    position: absolute;
    left: 90.55%;
    right: 5.31%;
    top: 32.68%;
    bottom: 63.16%;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #01384D;

}

.pen {
    position: absolute;
    left: 47.19%;
    right: 3.12%;
    top: 41.89%;
    bottom: 41.01%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #01384D;
    opacity: 0.6;
}

.narx {
    position: absolute;
    left: 47.19%;
    right: 49.77%;
    top: 64.47%;
    bottom: 31.36%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
    opacity: 0.6;
}

.narxi {
    position: absolute;
    left: 47.19%;
    right: 42.19%;
    top: 70.18%;
    bottom: 22.15%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #01384D;
}

.val {
    position: absolute;
    left: 58.2%;
    right: 39.06%;
    top: 73.68%;
    bottom: 22.15%;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #01384D;
}

.buyurt {
    position: absolute;
    left: 47.19%;
    right: 37.19%;
    top: 83.33%;
    bottom: 6.58%;
    background: #FFFFFF;
    border: 2px solid #01384D;
    border-radius: 5px;
}

.size {


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;


    color: #01384D;
}

.yotoqxona {
    margin-top: 150px;
    margin-left: 50px;
}

.texnologiya {
    position: absolute;
    width: 746px;
    height: 59px;
    left: 387px;
    top: 4385px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #01384D;
}

.aksiya {
    position: absolute;
    width: 563px;
    height: 50px;
    left: 679px;
    top: 3205px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #01384D;

}

.total {
    display: flex;
}

.Memoriform {

    position: absolute;
    margin-left: 150px;
    top: 4600px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #01384D;
}

.Tabiiylateks {
    position: absolute;

    top: 4600px;
    margin-left: 670px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #01384D;
}

.Mustaqilprujina {
    position: absolute;
    margin-left: 1150px;
    top: 4600px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #01384D;
}

.vid1 {
    position: absolute;
    width: 310px;
    
    left: 6%;
    right: 0%;
    top: 4700px;
    bottom: 26.8%;
    background: url(image.png);
    border: 3px solid #01384D;
    border-radius: 10px;
}

.vid2 {
    position: absolute;
    width: 310px;
    margin-left: 600px;
    top: 4700px;
    bottom: 26.8%;
    background: url(image.png);
    border: 3px solid #01384D;
    border-radius: 10px;
}

.vid3 {
    width: 310px;
    position: absolute;
    top: 4700px;
    margin-left: 1100px;
}